
.stories { border: 0px;  padding: 0.5em; }
.new-story { padding: 10px; margin: 10px 5px; }
.stories .storyCard { background: white; color: black; padding: 10px; margin: 10px 5px; border: 1px solid #CCCCCC; box-shadow: 5px 5px 5px #888888; }
.stories .storyCard h3 { font-size: 16px; font-weight: bold; line-height: 18px; }

.stories .storyCard .tag 
{
	background: #CCCCCC; 
	border: 1px solid #666666;
	color: black; 
	padding: 3px; 
	margin: 2px 4px 2px 0; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
}

/* Card Colors */
.stories .storyCard.new-feature { background: #CCFFCC; }
.stories .storyCard.bug { background: #FF9999; }
.stories .storyCard.update { background: #B2CCFF; }
.stories .storyCard.support-request { background: #FFFF99; }

.lane { border-right: 1px black solid; min-height: 400px; }
.storyInfo, .storyTags { color: Black; font-size: 0.9em; margin-bottom: 5px; }
.twitterUser { color: #77AAFF; text-decoration: none; font-size: 1.1em; font-weight: bold; }
input.invalid { border: 1px solid red !important; background-color: #FFAAAA !important; }

input { margin-bottom: 9px; }

.loadingIndicator { position: absolute; top: 0.1em; left: 0.1em; font: 0.8em Arial; background-color: #229; color: White; padding: 0.2em 0.5em 0.2em 0.5em; display: none; }


.ko_container { min-height: 100px; }

.clear-both { clear: both; }

/* Edit Dialog */
#editModel input { width: 475px; } 
#editModel textarea { width: 460px; height: 150px; }
#editModel div.main { width: 500px; float: left; }

.modal-body .right { width: 175px; float: left; padding: 0 5px; }
.modal-body .right .btn { width: 175px; }
#editModel .modal-body .right input { width: 175px; }